﻿@model Computers.Web.Models.Processor

<h2>ProcessorsEdit</h2>

@using (Html.BeginForm("Edit", "Processors"))
{
    @Html.ValidationSummary()

    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Id)
    @Html.Hidden("editAction", ViewData["editAction"].ToString())

    <div class="editor-label">@Html.LabelFor(x => x.CompanyName)</div>
    <div class="editor-field">@Html.EditorFor(x => x.CompanyName)</div>

    <div class="editor-label">@Html.LabelFor(x => x.Name)</div>
    <div class="editor-field">@Html.EditorFor(x => x.Name)</div>

    <div class="editor-label">@Html.LabelFor(x => x.CoreCount)</div>
    <div class="editor-field">@Html.EditorFor(x => x.CoreCount)</div>

    <div class="editor-label">@Html.LabelFor(x => x.Ghz)</div>
    <div class="editor-field">@Html.EditorFor(x => x.Ghz)</div>

    <div class="editor-label">@Html.LabelFor(x => x.Price)</div>
    <div class="editor-field">@Html.EditorFor(x => x.Price)</div>

    <div class="editor-label">@Html.LabelFor(x => x.Socket)</div>
    <div class="editor-field">@Html.EditorFor(x => x.Socket)</div>

    <div class="editor-label">@Html.LabelFor(x => x.Damaged)</div>
    <div class="editor-field">@Html.EditorFor(x => x.Damaged)</div>

    <input type="submit" value="SEND" />

}
