﻿@model Computers.Web.Models.Processor

@{
    ViewData["Title"] = "ProcessorsDetails";
}

<h2>Datasheet of one processor</h2>

@Html.ActionLink("Back to the list", "Index")

<table border="1">
        <tr>
            <td>@Html.DisplayNameFor(m => m.Id)</td>
            <td>@Html.DisplayFor(m => m.Id)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(m => m.CompanyName)</td>
            <td>@Html.DisplayFor(m => m.CompanyName)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(m => m.Name)</td>
            <td>@Html.DisplayFor(m => m.Name)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(m => m.CoreCount)</td>
            <td>@Html.DisplayFor(m => m.CoreCount)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(m => m.Ghz)</td>
            <td>@Html.DisplayFor(m => m.Ghz)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(m => m.Price)</td>
            <td>@Html.DisplayFor(m => m.Price)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(m => m.Socket)</td>
            <td>@Html.DisplayFor(m => m.Socket)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(m => m.Damaged)</td>
            <td>@Html.DisplayFor(m => m.Damaged)</td>
        </tr>
</table>
