﻿@model Computers.Web.Models.ProcessorListViewModel

@{ 
    ViewData["Title"] = "ProcessorsIndex";
}

<h2>Processors Index</h2>

<p style="color:red">@TempData["editResult"]</p>

@await Html.PartialAsync("ProcessorsEdit", Model.EditedProcessor)

@await Html.PartialAsync("ProcessorsList", Model.ListOfProcessor)