﻿@model IEnumerable<Computers.Web.Models.Processor>

<h2>ProcessorsList</h2>

@if (Model.Count() == 0)
{ 
    <p>No data in the database!</p>
}
else
{
<table border="1">
    <tr>
        <th>@Html.DisplayNameFor(x => x.First().CompanyName)</th>
        <th>@Html.DisplayNameFor(x => x.First().Name)</th>
        <th>Datasheet</th>
        <th>Delete</th>
        <th>Modify</th>
    </tr>
    @foreach (var proc in Model)
    {
        <tr>
            <td>@Html.DisplayFor(x => proc.CompanyName)</td>
            <td>@Html.DisplayFor(x => proc.Name)</td>
            <td>@Html.ActionLink("[SHOW]", "Details", new { id = proc.Id})</td>
            <td>@Html.ActionLink("[DEL]", "Remove", new { id = proc.Id})</td>
            <td>@Html.ActionLink("[EDIT]", "Edit", new { id = proc.Id})</td>
        </tr>
    }
</table>
}